.alert-danger {
    background: #F7E2E3;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #E0565F;
    opacity: 0;
    pointer-events: none;
}

.alert-danger.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert-danger.show {
    animation: danger_show 1s ease forwards;
}

@keyframes danger_show {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.alert-danger.hide {
    animation: danger_hide 1s ease forwards;
}

@keyframes danger_hide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
}

.alert-danger .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #E0565F;
    font-size: 30px;
}

.alert-danger .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #E0565F;
}

.alert-success {
    background: #D1F2DA;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #76D07D;
    opacity: 0;
    pointer-events: none;
}

.alert-success.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert-success.show {
    animation: success_show 1s ease forwards;
}

@keyframes success_show {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.alert-success.hide {
    animation: success_hide 1s ease forwards;
}

@keyframes success_hide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
}

.alert-success .bxs-check-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #76D07D;
    font-size: 30px;
}

.alert-success .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #76D07D;
}

