.card-body {
    width: 96%;
    height: 88vh;
    background: #fff;
    margin-left: 2%;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-body label {
    font-weight: bold;
}
.card-body input[type="text"],
.card-body input[type="file"],
.card-body input[type="datetime-local"],
.card-body input[type="date"],
.card-body input[type="password"],
.card-body button,
.card-body select,
.card-body textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline-color: #59A773;
   
    
}
.btn-success {
    margin-top: 10px;
    background-color: #2ba335;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.btn-danger{
    margin-top: 10px;
    background-color: #f80000;
    color:#fff;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #006b09;
}

.btn-danger:hover {
    background-color: #9d0000;
}

.btn-container {
    display: flex;
    gap: 10px; 
    justify-content: flex-end; 
}

.flex {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.flex div {
    width: 50%;
}